main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 150px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

button a {
    text-decoration: none;
    color: black;
}